@charset "utf-8";
/* 공통 아이콘 박스 및 아이콘 */
.icon-box { width:48px; height:48px; border-radius:50%; background-color:#F4F4F4; background-repeat:no-repeat; background-position:center; background-size:24px; flex-shrink:0; }
.icon-box.phone { background-image:url('../images/svg/FERM/tel_ico.svg'); }
.icon-box.save { background-image:url('../images/svg/FERM/save_ico.svg'); }
.icon-box.camera { background-image:url('../images/svg/FERM/camera_ico.svg'); }
.icon-box.contact { background-image:url('../images/svg/FERM/telbok_ico.svg'); }
.icon-box.location { background-image:url('../images/svg/FERM/nav_ico.svg'); }
.icon-box.faceid { background-image:url('../images/svg/FERM/face_ico.svg'); width: 42px; height: 42px;}

.icon-box.password { background-image: url('../images/svg/LOGN/password_ico.svg'); width: 42px; height: 42px;}
.icon-box.fingerprint { background-image: url('../images/svg/LOGN/fingerprint_ico.svg'); width: 42px; height: 42px;}
.icon-box.password-fill { background-image: url('../images/svg/LOGN/password-fill-ico.svg'); width: 38px; height: 38px; }
.icon-box.fingerprint-fill { background-image: url('../images/svg/LOGN/fingerprint_fill_ico.svg'); width: 38px; height: 38px;}
.icon-box.faceid-fill { background-image:url('../images/svg/LOGN/face_fill_ico.svg'); width: 38px; height: 38px;}

/* ============ 온보딩 ===================== */
.onboarding-page { background: #fff; height: 100vh; overflow: hidden; position: relative; }
.onboarding-page .contents-inner { padding: 0; height: 100%; position: relative; }

.onboarding-logo { position: absolute; top: 260px; left: 50%; transform: translate(-50%, -50%); z-index: 5; }
.onboarding-logo img { width: 140px; }

.onboarding-bottom { position: absolute; bottom: 0; left: 0; width: 100%; height: 271px; z-index: 10; }

.bottom-visual { position: absolute; bottom: 0; left: 50%; transform: translateX(-50%); width: 505px; flex-shrink: 0; }
.bottom-visual img { width: 100%; height: 100%; display: block; }

.loading-bar-area { position: absolute; bottom: 30px; left: 0; width: 100%; display: flex; justify-content: center; align-items: center; pointer-events: none; }
.loading-bar { width: 198px; height: 3px; background: var(--white); position: relative; overflow: hidden; }
.loading-bar .gauge { position: absolute; top: 0; left: 0; height: 100%; width: 0; background: #222; animation: loadingFill 2s forwards linear; }

.app-version { position: absolute; right: 20px; bottom: 24px; font-size: 12px; color: var(--color-45); font-weight: 400; z-index: 20; }
/* 애니메이션 */
@keyframes loadingFill { 0% { width: 0%; } 100% { width: 100%; } }


/* ============ 회원가입 (본인인증) ===================== */


/* 앱 접근권한 페이지 (PAY-PERM-001) */
.app-access-wrap { padding-top:40px; }
.app-access-wrap .list { display:flex; flex-direction:column; gap:27px; }
.app-access-wrap .list li { display:flex; align-items:center; gap:14px; }

/* 텍스트 영역 */
.app-access-wrap .cnt .tit { font-size:16px; color:var(--color-2); margin-bottom:4px; font-weight: 500; }
.app-access-wrap .cnt .txt { font-size:14px; color:var(--color-75); }

/* 배지 (필수/선택) */
.badge { font-size:14px; display:inline-block; }
.badge.required { color:var(--error); }
.badge.optional { color:var(--success); }

/* 구분선 */
.line-divider { border:0; height:1px; background-color:var(--color-e); margin:30px 0; }


/* PAY-AUTH-001 (본인인증 안내) */
.PAY-AUTH-001 .contents-inner, .PAY-OBNK-REG-003 .contents-inner { display:flex; flex-direction:column; justify-content:space-between; min-height:calc(100vh - 50px - 100px); padding-bottom:20px; }
.PAY-AUTH-001 .section-jumbotron .se-title { font-size:24px; }
.PAY-AUTH-001 .section-jumbotron .text { margin-top:10px; font-size:14px; color:#666; }

/* 하단 유의사항 리스트 */
.notice-list-wrap { margin-top: auto;}
.notice-list li { position:relative; padding-left:10px; font-size:14px; color:var(--color-75); margin-top:12px; line-height: 1.5;}
.notice-list li:first-child { margin-top:0; }
.notice-list li::before { content:"•"; position:absolute; left:0; top:0; font-size:10px; }




/* PAY-AUTH-002,3,4 페이지 전용 스타일 */
.PAY-AUTH-002 .section-jumbotron,
.PAY-AUTH-003 .section-jumbotron,
.PAY-AUTH-004 .section-jumbotron,
.PAY-OBNK-REG-002 .section-jumbotron,
.PAY-OBNK-REG-003 .section-jumbotron,
.PAY-OBNK-REG-004 .section-jumbotron { padding:0; text-align:left; border-bottom:1px solid var(--color-e); padding-bottom:26px; margin-bottom:32px; }

.PAY-AUTH-002 .section-jumbotron .tit-row,
.PAY-AUTH-003 .section-jumbotron .tit-row,
.PAY-AUTH-004 .section-jumbotron .tit-row,
.PAY-OBNK-REG-002 .section-jumbotron .tit-row,
.PAY-OBNK-REG-003 .section-jumbotron .tit-row,
.PAY-OBNK-REG-004 .section-jumbotron .tit-row { display:flex; justify-content:space-between; align-items:center; margin-bottom:12px; }

/* 타이틀 폰트 */
.PAY-AUTH-002 .section-jumbotron .se-title,
.PAY-AUTH-003 .section-jumbotron .se-title,
.PAY-AUTH-004 .section-jumbotron .se-title
,.PAY-OBNK-REG-002 .section-jumbotron .se-title,
.PAY-OBNK-REG-003 .section-jumbotron .se-title,
.PAY-OBNK-REG-004 .section-jumbotron .se-title { font-size:22px; font-weight:700; margin-bottom:0; }

/* 페이지 번호 스타일 */
.PAY-AUTH-002 .section-jumbotron .page-num,
.PAY-AUTH-003 .section-jumbotron .page-num,
.PAY-AUTH-004 .section-jumbotron .page-num { font-size:16px; color:#999; }

.PAY-AUTH-002 .section-jumbotron .page-num b,
.PAY-AUTH-003 .section-jumbotron .page-num b,
.PAY-AUTH-004 .section-jumbotron .page-num b { color:#222; font-weight:600; }

.PAY-AUTH-003 .section { padding:0; display:flex; flex-direction:column; gap:26px; padding-bottom: 140px;}
.input-box .auth-timer { position: absolute; right: 16px; font-size: 14px; color: var(--primary); font-weight: 400;} /* 인증번호 인풋박스 옆 타이머 */

/* 프로그레스 바 */
.progress-bar-wrap { position:fixed; top:50px; left:0; width:100%; height:2px; background-color:#E5E5EA; z-index:99; }
.progress-bar-wrap .bar { display:block; height:100%; background-color:var(--primary); width:0%; transition:width 0.3s; }
.progress-bar-wrap .bar.step1 { width:25%; }
.progress-bar-wrap .bar.step2 { width:50%; }
.progress-bar-wrap .bar.step3 { width:75%; }
.progress-bar-wrap .bar.step4 { width:100%; }
/* 6단계 프로세스 전용 */
.progress-bar-wrap.len6 .bar.step1 { width: 16.66%; }
.progress-bar-wrap.len6 .bar.step2 { width: 33.33%; }
.progress-bar-wrap.len6 .bar.step3 { width: 50.00%; }
.progress-bar-wrap.len6 .bar.step4 { width: 66.66%; }
.progress-bar-wrap.len6 .bar.step5 { width: 83.33%; }
.progress-bar-wrap.len6 .bar.step6 { width: 100.00%; }

/* 약관 동의 박스 */
.terms-pack { margin-bottom:20px; }
.terms-head { display:flex; align-items:center; justify-content:space-between; padding:16px 20px; background-color:var(--white); min-height:64px; border:1px solid var(--color-d); border-radius:4px; transition:border-radius 0.3s; }

/* 접기 버튼 */
.terms-head .btn-fold { margin-left:auto; width:24px; height:24px; background:transparent var(--ico-select) no-repeat center / 20px; border:0; padding:0; cursor:pointer; transition:transform 0.3s; }
.terms-pack.on .terms-head .btn-fold { transform:rotate(180deg); }

/* 약관 리스트 */
.terms-body { display:none; padding-top: 10px; border:0; background-color:transparent; }
.terms-pack.on .terms-body { display:block; }

.terms-list li { display:flex; align-items:center; justify-content:space-between; margin-top:16px; padding:0 6px; color:var(--color-2); }
.terms-list li:first-child { margin-top:10px; }
.terms-list .btn-detail { width:20px; height:20px; background:transparent var(--ico-select) no-repeat center / 16px; transform:rotate(-90deg); border:0; padding:0; opacity:0.4; cursor:pointer; }


/* PAY-AUTH-004 인증수단 선택 */
.auth-method-list { display:flex; flex-direction:column; gap:18px; }
.auth-method-card { display:block; width:100%; cursor:pointer; position:relative; }
.auth-method-card input[type="radio"] { display:none; }

/* 카드 디자인 */
.auth-method-card .card-inner { display:flex; align-items:center; width:100%; min-height:68px; padding:22px 18px; box-sizing:border-box; background-color:#FAF8FA; border:1px solid transparent; border-radius:12px; transition:all 0.2s ease; }
.auth-method-card input:checked + .card-inner { background-color:#FFFFFF; border-color:var(--primary); box-shadow:2px 2px 12px 0 rgba(163, 0, 0, 0.25); }

/* 로고 아이콘 */
.auth-method-card .logo { width:32px; height:32px; border-radius:50%; margin-right:10px; background-size:cover; background-repeat:no-repeat; background-position:center; background-color:#ddd; }
.auth-method-card .logo.pass { background-image:url('../images/AUTH/pass_img.png'); }
.auth-method-card .logo.kakao { background-image:url('../images/AUTH/kakao_img.png'); }
.auth-method-card .logo.toss { background-image:url('../images/AUTH/toss_img.png'); }
.auth-method-card .logo.bank { background-image:url('../images/AUTH/ot_img.png'); }

/* 텍스트 및 체크 아이콘 */
.auth-method-card .name { color:var(--color-45); font-weight:500; flex:1; }
.auth-method-card .chk-svg { margin-left:auto; }
.auth-method-card .chk-svg path { stroke:var(--color-9); stroke-dashoffset:0; transition:stroke 0.2s; }
.auth-method-card input:checked + .card-inner .chk-svg path { stroke:var(--primary); animation:redraw 0.3s ease forwards; }


/* PAY-AUTH-005 인증 완료 페이지 */
.PAY-AUTH-005 .contents-inner { display:flex; flex-direction:column; min-height:calc(100vh - 50px - 100px); }
.PAY-AUTH-005 .section-jumbotron .se-title { font-size:24px; line-height:150%; }
.PAY-AUTH-005 .section-jumbotron .text { color:var(--color-45); }

/* 타이틀 형광펜 효과 */
.PAY-AUTH-005 .se-title .highlight { position:relative; z-index:1; display:inline-block; }
.PAY-AUTH-005 .se-title .highlight::after { content:''; position:absolute; bottom:2px; left:0; width:100%; height:8px; background-color:#FFdddf; z-index:-1; opacity:0.8; }

/* 이미지 영역 */
.PAY-AUTH-005 .result-motion { flex:1; display:flex; align-items:center; justify-content:center; padding-bottom:40px; }
.PAY-AUTH-005 .result-motion .motion-bg { display:block; min-width:259px; min-height:149px; background-image:url('../../resource/images/AUTH/comp_img.gif'); background-repeat:no-repeat; background-position:center; background-size:contain; }



/* ============ 로그인 (간편인증) ===================== */

/* PAY-LOGN-001 간편인증 로그인 선택 */
.login-method-list { border-top: 1px solid var(--color-e); }
.login-method-list li { border-bottom: 1px solid var(--color-e); }
.btn-method { display: flex; align-items: center; justify-content: flex-start; width: 100%; padding: 24px 0; background: transparent; border: 0; cursor: pointer; text-align: left; text-decoration: none; color: var(--color-2); gap: 14px; }
.btn-method:active { background-color: #f9f9f9; }
.btn-method .name { font-size: 16px; font-weight: 500; color: inherit; }
.login-more-wrap { margin-top: 16px; display: flex; justify-content: flex-end; }
.btn-text-arrow { display: inline-flex; width: auto; align-items: center; font-size: 14px; color: var(--color-45); background: transparent; border: 0; padding: 0; cursor: pointer; }
.btn-text-arrow::after { content: ''; display: block; width: 16px; height: 16px; margin-left: 4px; background: var(--ico-select) no-repeat center/contain; }

/* PAY-LOGN-01001 팝업 내부 컨텐츠 */
.auth-setting-list { display: flex; flex-direction: column; gap: 10px; }
.auth-setting-list .item-row { display: flex; align-items: center; justify-content: space-between; width: 100%; padding: 10px 0; text-decoration: none; cursor: pointer; }
.auth-setting-list .left { display: flex; align-items: center; gap: 10px; }
.auth-setting-list .name { font-size: 16px; color: #222; font-weight: 500; }
.badge-state { display: inline-flex; align-items: center; justify-content: center; padding: 2px 10px; border-radius: 100px; font-size: 14px; font-weight: 500; background-color: #f3f3f3; color: var(--color-45); }
.badge-state.on { background-color: #EcF4FF; color:var(--success); }
.popup-container.padding-20 { padding: 20px; }

/* PAY-LOGN-002 간편 비밀번호 */
.popup-container.keypad-mode { display: flex; flex-direction: column; text-align: center; padding-top: 42px; padding-bottom: 0; }
.popup-container.keypad-mode .se-title, .popup-container.auth-register-mode .se-title { font-size: 24px; font-weight: 700; }
.pw-dots-area { display: flex; justify-content: center; gap: 15px; margin-top: 26px; margin-bottom: auto; }
.pw-dot { width: 20px; height: 20px; border-radius: 50%; background-color: #E5E5e5; transition: background-color 0.2s; }
.pw-dot.on { background-color:var(--secondary); }
.secure-keypad { width: 100%; padding: 20px 0 40px 0; background-color: #fff; }
.keypad-grid { display: grid; grid-template-columns: repeat(3, 1fr); row-gap: 10px; }
.keypad-btn { display: flex; align-items: center; justify-content: center; width: 100%; height: 65px; background: transparent; border: none; font-size: 24px; font-family: inherit; cursor: pointer; font-weight: 400; }
.keypad-btn:active { background-color: #faf8fa; border-radius: 12px; }
.keypad-btn.text-btn { font-size: 16px; color: #222; font-weight: 400; }
.keypad-btn.back { background-image: url('../images/svg/LOGN/keypad-back.svg'); background-repeat: no-repeat; background-position: center; background-size: 28px auto; }

/* PAY-LOGN-003~4 */
.popup-container.auth-register-mode { display: flex; flex-direction: column; height: 100%; text-align: center; padding-top: 42px; }
.popup-container.auth-register-mode .result-motion { display: flex; align-items: center; justify-content: center; margin-top: 26px; }
.popup-container.auth-register-mode .motion-bg { display: block; width: 120px; height: 120px; background-repeat: no-repeat; background-position: center; background-size: contain; }
.popup-container.auth-register-mode .motion-bg.fingerprint { background-image: url('../../resource/images/LOGN/Fingerprint_img.gif'); }
.popup-container.auth-register-mode .motion-bg.face { background-image: url('../../resource/images/LOGN/Face_img.gif'); }
.popup-container.auth-register-mode .auth-btn-wrap { margin-top: 42px; }

/* OBNK */
/* OBNK-001 */
.section.PAY-OBNK-REG-001 {padding-top: 26px;}
/* 서브페이지 전용 소제목 */
.sub-title-sm { font-size: 16px; font-weight: 600; color: var(--color-2); margin-bottom: 12px; text-align: left; }
.mt32 { margin-top: 32px; }
/* 자산 추가 버튼  */
.btn-add-asset { display: flex; align-items: center; justify-content: center; width: 100%; padding: 18px; height: 64px; border-radius: 12px; font-size: 16px; font-weight: 500; text-decoration: none; gap: 4px; }
.btn-add-asset.type-line { border: 1px solid var(--primary); color: var(--primary); background: #fff; }
.btn-add-asset.type-line::after { content: ''; width: 20px; height: 20px; background: url('../../resource/images/svg/OBNK/ico-plus-pill.svg') no-repeat center / contain; }
.btn-add-asset.type-disabled { background-color: #Eee; color: var(--color-45); border: 0; pointer-events: none; cursor: default; }
.btn-add-asset.type-disabled::after { content: ''; width: 20px; height: 20px; background: url('../../resource/images/svg/OBNK/ico-plus-45.svg') no-repeat center / contain; }
/* 하단 스킵 링크 영역 */
.bottom-skip-area { position: fixed; bottom: 40px; left: 0; width: 100%; text-align: center; z-index: 10; }
.btn-skip { font-size: 14px; color: var(--color-75); text-decoration: underline; text-underline-offset: 4px; transition: color 0.2s; }
.btn-skip:active { color: var(--color-2); }

/* OBNK-002 */
.terms-pack + .terms-pack {margin-top: 42px;}
.PAY-OBNK-REG-002 label.check{align-items: start;}

.notice-pack { background-color: #f8fafb; border-radius: 8px; margin-top: 40px; overflow: hidden; }
.notice-head { padding: 18px 14px; display: flex; align-items: center; position: relative; }
.notice-head .ico-info { width: 24px; height: 24px; background: url('../../resource/images/svg/OBNK/ico_obnk_notice.svg') no-repeat center / contain; margin-right: 8px; }
.notice-head .tit { font-size: 16px; color: var(--color-45); }
.notice-head .btn-fold { margin-left: auto; width: 24px; height: 24px; background: transparent var(--ico-select) no-repeat center / 20px; border: 0; padding: 0; cursor: pointer; /* transition: transform 0.3s;  */}
.notice-pack.on .btn-fold { transform: rotate(180deg); }

.accordion-notice-body { display: none; padding: 0 14px 18px 14px; }
.notice-pack.on .accordion-notice-body { display: block; }
.accordion-notice-list li { position: relative; padding-left: 10px; font-size: 14px; color: var(--color-75); margin-top: 14px; text-align: left; }
.accordion-notice-list li::before { content: "•"; position: absolute; left: 0; top: 0; color: var(--color-75); }
.accordion-notice-list li:first-child { margin-top: 0; }

/* OBNK-00401 */

/* 팝업 전용 탭 고정 스타일 */
.PAY-OBNK-REG-00401 .tab-wrap {top: -38px;}
.PAY-OBNK-REG-00401 .tab-list {padding: 0;}

/* 검색바 영역 */
.search-bar-area {padding-top: 12px; margin-bottom: 32px; }

/* 검색 인풋 박스 */
.input-box.search { background-color: #f5f7f9; border: 0; height: 48px; border-radius: 8px; padding-left: 44px; position: relative; display: flex; align-items: center; }
.input-box.search input { background: transparent; font-size: 18px; height: 100%; }
.input-box.search::before { content: ''; position: absolute; left: 12px; top: 50%; transform: translateY(-50%); width: 20px; height: 20px; background: url("../../resource/images/svg/OBNK/search-line-20.svg") no-repeat center / contain; pointer-events: none; }

/* 리스트 헤더 (은행 / 전체선택) */
.list-header { display: flex; justify-content: space-between; align-items: center; padding: 32px 0 32px 0; }
.list-header .tit { font-size: 20px; font-weight: 700; color: var(--color-2); }
.check-all-label { cursor: pointer; display: flex; align-items: center; }
.check-all-label input { display: none; }
.check-all-label span { font-size: 14px; color: var(--color-75); }

/* 은행 리스트 항목 */
.bank-select-list li { display: flex; align-items: center; justify-content: space-between; padding-bottom: 32px; border-bottom: 0; }
.bank-select-list li:last-child{ padding-bottom: 0;}
.bank-info { display: flex; align-items: center; gap: 14px; }
.bank-info::before { content: ''; width: 28px; height: 28px; border-radius: 50%; background-repeat: no-repeat; background-position: center; background-size: 28px; flex-shrink: 0; }

.bank-info.nh::before { background-image: url("../../resource/images/svg/OBNK/icon_nonghyeop_28.svg"); }
.bank-info.kb::before { background-image: url("../../resource/images/svg/OBNK/Icon_kb_28.svg"); }
.bank-info.sh::before { background-image: url("../../resource/images/svg/OBNK/Icon_shinhan_28.svg"); }
.bank-info.wo::before { background-image: url("../../resource/images/svg/OBNK/Icon_woori_28.svg"); }
.bank-info.hana::before { background-image: url("../../resource/images/svg/OBNK/icon_hana_28.svg"); }
.bank-info.ibk::before { background-image: url("../../resource/images/svg/OBNK/icon_IBK_28.svg"); }
.bank-info.im::before { background-image: url("../../resource/images/svg/OBNK/icon_im_28.svg"); }
.bank-info.bnk::before { background-image: url("../../resource/images/svg/OBNK/icon_bnk_28.svg"); }
.bank-info.sc::before { background-image: url("../../resource/images/svg/OBNK/icon_SC_28.svg"); }
.bank-info.kbank::before { background-image: url("../../resource/images/svg/OBNK/icon_kbank_28.svg"); }
.bank-info.mg::before { background-image: url("../../resource/images/svg/OBNK/icon_MG_28.svg"); }
.bank-info.po::before { background-image: url("../../resource/images/svg/OBNK/icon_postoffice_28.svg"); }

.bank-info.sam::before { background-image: url("../../resource/images/svg/OBNK/Icon_samsung_28.svg"); }
.bank-info.hdai::before { background-image: url("../../resource/images/svg/OBNK/ico_hyundai_28.svg"); }
.bank-info.toss::before { background-image: url("../../resource/images/svg/OBNK/Icon_toss_28.svg"); }
.bank-info.bc::before { background-image: url("../../resource/images/svg/OBNK/icon_BC_28.svg"); }
.bank-info.lotte::before { background-image: url("../../resource/images/svg/OBNK/Icon_lotte_28.svg"); }

.bank-info .name { font-size: 16px; color: var(--color-45); font-weight: 500; }



/* OBNK-006 */
.ico-complete { width: 58px; height: 58px; background: url("../../resource/images/OBNK/check_img.gif") no-repeat center / contain; margin-bottom: 14px;}
button.btn-link-arrow { display: inline-flex; justify-content: left; font-size: 16px; color: var(--color-45); background: none; border: 0; padding: 0; cursor: pointer; font-weight: 500; padding-top: 17px;}
.btn-link-arrow::after { content: ''; display: inline-block; width: 20px; height: 20px; margin-left: 4px; background: url("../../resource/images/svg/OBNK/ico_right_45.svg") no-repeat center / contain;}
.bank-select-list li .comp {font-size: 14px; color: var(--success); font-weight: 500;}
.bank-select-list li .fail {font-size: 14px; color: var(--error); font-weight: 500;}