@charset "utf-8";

/* 앱 접근권한 페이지 (PAY-PERM-001) */

/* 컨테이너 여백 조정 */
/* .container:has(.app-access-wrap) {
    padding-top: 88px;
} */
.app-access-wrap {
    padding-top: 40px;
}
/* 권한 리스트 래퍼 */
.app-access-wrap .list {
    display: flex;
    flex-direction: column;
    gap: 27px; 
}

.app-access-wrap .list li {
    display: flex;
    align-items: center;
    gap: 14px;
}

/* 아이콘 박스 */
.app-access-wrap .icon-box {
    width: 48px; height: 48px;
    border-radius: 50%;
    background-color: #F4F4F4;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px;
    flex-shrink: 0;
}
.icon-box.phone { background-image: url('../images/svg/FERM/tel_ico.svg'); }
.icon-box.save { background-image: url('../images/svg/FERM/save_ico.svg'); }
.icon-box.camera { background-image: url('../images/svg/FERM/camera_ico.svg'); }
.icon-box.contact { background-image: url('../images/svg/FERM/telbok_ico.svg'); }
.icon-box.location { background-image: url('../images/svg/FERM/nav_ico.svg'); }
.icon-box.faceid { background-image: url('../images/svg/FERM/face_ico.svg'); }


/* 텍스트 영역 */
.app-access-wrap .cnt .tit {
    font-size: 16px; 
    color: #222; 
    margin-bottom: 4px;
}
.app-access-wrap .cnt .txt {
    font-size: 14px; 
    color: #666; 
    
}

/* 배지 (필수/선택) */
.badge { 
    font-size: 14px; display: inline-block; 
}
.badge.required { color: var(--error); }
.badge.optional { color: var(--success); }


/* 구분선 */
.line-divider {
    border: 0; height: 1px; 
    background-color: var(--color-e); 
    margin: 30px 0;
}

/* PAY-AUTH-001 (본인인증 안내) */
/* PAY-AUTH-001 전용 레이아웃 */
.PAY-AUTH-001 .contents-inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: calc(100vh - 50px - 100px); 
    padding-bottom: 20px;
}

.PAY-AUTH-001 .section-jumbotron .se-title {
    font-size: 24px;
}

.PAY-AUTH-001 .section-jumbotron .text {
    margin-top: 10px;
    font-size: 14px;
    color: #666;
}

/* 하단 유의사항 리스트  */
.notice-list li {
    position: relative;
    padding-left: 10px;
    font-size: 14px;
    color: var(--color-75);
    margin-top: 12px;
}
.notice-list li:first-child { margin-top: 0; }
.notice-list li::before {
    content: "•";
    position: absolute;
    left: 0; top: 0;
    font-size: 10px;
}