@charset "utf-8";
/* 공통 아이콘 박스 및 아이콘 */
.icon-box { width:48px; height:48px; border-radius:50%; background-color:#F4F4F4; background-repeat:no-repeat; background-position:center; background-size:24px; flex-shrink:0; }
.icon-box.phone { background-image:url('../images/svg/FERM/tel_ico.svg'); }
.icon-box.save { background-image:url('../images/svg/FERM/save_ico.svg'); }
.icon-box.camera { background-image:url('../images/svg/FERM/camera_ico.svg'); }
.icon-box.contact { background-image:url('../images/svg/FERM/telbok_ico.svg'); }
.icon-box.location { background-image:url('../images/svg/FERM/nav_ico.svg'); }
.icon-box.faceid { background-image:url('../images/svg/FERM/face_ico.svg'); width: 42px; height: 42px;}

.icon-box.password { background-image: url('../images/svg/LOGN/password_ico.svg'); width: 42px; height: 42px;}
.icon-box.fingerprint { background-image: url('../images/svg/LOGN/fingerprint_ico.svg'); width: 42px; height: 42px;}
.icon-box.password-fill { background-image: url('../images/svg/LOGN/password-fill-ico.svg'); width: 38px; height: 38px; }
.icon-box.fingerprint-fill { background-image: url('../images/svg/LOGN/fingerprint_fill_ico.svg'); width: 38px; height: 38px;}
.icon-box.faceid-fill { background-image:url('../images/svg/LOGN/face_fill_ico.svg'); width: 38px; height: 38px;}

/* ============ 온보딩 ===================== */
.onboarding-page { background: #fff; height: 100vh; overflow: hidden; position: relative; }
.onboarding-page .contents-inner { padding: 0; height: 100%; position: relative; }

.onboarding-logo { position: absolute; top: 260px; left: 50%; transform: translate(-50%, -50%); z-index: 5; }
.onboarding-logo img { width: 140px; }

.onboarding-bottom { position: absolute; bottom: 0; left: 0; width: 100%; height: 271px; z-index: 10; }

.bottom-visual { position: absolute; bottom: 0; left: 50%; transform: translateX(-50%); width: 505px; flex-shrink: 0; }
.bottom-visual img { width: 100%; height: 100%; display: block; }

.loading-bar-area { position: absolute; bottom: 30px; left: 0; width: 100%; display: flex; justify-content: center; align-items: center; pointer-events: none; }
.loading-bar { width: 198px; height: 3px; background: var(--white); position: relative; overflow: hidden; }
.loading-bar .gauge { position: absolute; top: 0; left: 0; height: 100%; width: 0; background: #222; animation: loadingFill 2s forwards linear; }

.app-version { position: absolute; right: 20px; bottom: 24px; font-size: 12px; color: var(--color-45); font-weight: 400; z-index: 20; }
/* 애니메이션 */
@keyframes loadingFill { 0% { width: 0%; } 100% { width: 100%; } }


/* ============ 회원가입 (본인인증) ===================== */


/* 앱 접근권한 페이지 (PAY-PERM-001) */
.app-access-wrap { padding-top:40px; }
.app-access-wrap .list { display:flex; flex-direction:column; gap:27px; }
.app-access-wrap .list li { display:flex; align-items:center; gap:14px; }

/* 텍스트 영역 */
.app-access-wrap .cnt .tit { font-size:16px; color:var(--color-2); margin-bottom:4px; font-weight: 500; }
.app-access-wrap .cnt .txt { font-size:14px; color:var(--color-75); }

/* 배지 (필수/선택) */
.badge { font-size:14px; display:inline-block; }
.badge.required { color:var(--error); }
.badge.optional { color:var(--success); }

/* 구분선 */
.line-divider { border:0; height:1px; background-color:var(--color-e); margin:30px 0; }

/* PAY-AUTH-001 (본인인증 안내) */
.PAY-AUTH-001 .contents-inner, .PAY-OBNK-REG-003 .contents-inner { display:flex; flex-direction:column; justify-content:space-between; min-height:calc(100vh - 50px - 100px); padding-bottom:20px; }
.PAY-AUTH-001 .section-jumbotron .se-title, .PAY-OBNK-REG-006 .section-jumbotron .se-title, .PAY-OBNK-REG-00601 .section-jumbotron .se-title { font-size:24px; }
.PAY-AUTH-001 .section-jumbotron .text { margin-top:10px; font-size:14px; color:#666; }

/* 하단 유의사항 리스트 */
.notice-list-wrap { margin-top: auto;}
.notice-list li { position:relative; padding-left:10px; font-size:14px; color:var(--color-75); margin-top:12px; line-height: 1.5;}
.notice-list li:first-child { margin-top:0; }
.notice-list li::before { content:"•"; position:absolute; left:0; top:0; font-size:10px; }


/* PAY-AUTH-002,3,4 페이지 전용 스타일 */
.PAY-AUTH-002 .section-jumbotron,
.PAY-AUTH-003 .section-jumbotron,
.PAY-AUTH-004 .section-jumbotron,
.PAY-OBNK-REG-002 .section-jumbotron,
.PAY-OBNK-REG-003 .section-jumbotron,
.PAY-OBNK-REG-004 .section-jumbotron,
.PAY-PAYM-002 .section-jumbotron{ padding:0; text-align:left; border-bottom:1px solid var(--color-e); padding-bottom:26px; margin-bottom:32px; }
.PAY-LOGN-001 .section-jumbotron {margin-bottom: 32px;}
.PAY-AUTH-002 .section-jumbotron .tit-row,
.PAY-AUTH-003 .section-jumbotron .tit-row,
.PAY-AUTH-004 .section-jumbotron .tit-row,
.PAY-OBNK-REG-002 .section-jumbotron .tit-row,
.PAY-OBNK-REG-003 .section-jumbotron .tit-row,
.PAY-OBNK-REG-004 .section-jumbotron .tit-row { display:flex; justify-content:space-between; align-items:center; margin-bottom:12px; }

/* 타이틀 폰트 */
.PAY-AUTH-002 .section-jumbotron .se-title,
.PAY-AUTH-003 .section-jumbotron .se-title,
.PAY-AUTH-004 .section-jumbotron .se-title
,.PAY-OBNK-REG-002 .section-jumbotron .se-title,
.PAY-OBNK-REG-003 .section-jumbotron .se-title,
.PAY-OBNK-REG-004 .section-jumbotron .se-title { font-size:22px; font-weight:700; margin-bottom:0; }
.PAY-PAYM-002 .section-jumbotron .se-title, .PAY-PAYM-003 .section-jumbotron .se-title {margin-bottom: 0;}
/* 페이지 번호 스타일 */
.PAY-AUTH-002 .section-jumbotron .page-num,
.PAY-AUTH-003 .section-jumbotron .page-num,
.PAY-AUTH-004 .section-jumbotron .page-num { font-size:16px; color:#999; }
.PAY-OBNK-REG-002 .section-jumbotron .page-num {font-size: 16px;}
.PAY-AUTH-002 .section-jumbotron .page-num b,
.PAY-AUTH-003 .section-jumbotron .page-num b,
.PAY-AUTH-004 .section-jumbotron .page-num b { color:#222; font-weight:600; }

.PAY-AUTH-003 .section { padding:0; display:flex; flex-direction:column; gap:26px; padding-bottom: 140px;}
.input-box .auth-timer { position: absolute; right: 16px; font-size: 14px; color: var(--primary); font-weight: 400;} /* 인증번호 인풋박스 옆 타이머 */

.PAY-OBNK-REG-00601 .section-jumbotron {margin-bottom: 0;}
/* 프로그레스 바 */
.progress-bar-wrap { position:fixed; top:50px; left:0; width:100%; height:2px; background-color:#E5E5EA; z-index:99; }
.progress-bar-wrap .bar { display:block; height:100%; background-color:var(--primary); width:0%; transition:width 0.3s; }
.progress-bar-wrap .bar.step1 { width:25%; }
.progress-bar-wrap .bar.step2 { width:50%; }
.progress-bar-wrap .bar.step3 { width:75%; }
.progress-bar-wrap .bar.step4 { width:100%; }
/* 6단계 프로세스 전용 */
.progress-bar-wrap.len6 .bar.step1 { width: 16.66%; }
.progress-bar-wrap.len6 .bar.step2 { width: 33.33%; }
.progress-bar-wrap.len6 .bar.step3 { width: 50.00%; }
.progress-bar-wrap.len6 .bar.step4 { width: 66.66%; }
.progress-bar-wrap.len6 .bar.step5 { width: 83.33%; }
.progress-bar-wrap.len6 .bar.step6 { width: 100.00%; }

/* 약관 동의 박스 */
.terms-pack { margin-bottom:20px; }
.terms-head { display:flex; align-items:center; justify-content:space-between; padding:16px 20px; background-color:var(--white); min-height:64px; border:1px solid var(--color-d); border-radius:4px; transition:border-radius 0.3s; }

/* 약관 리스트 */
.terms-body { display:none; padding-top: 10px; border:0; background-color:transparent; }
.terms-pack.on .terms-body { display:block; }

.terms-list li { display:flex; align-items:center; justify-content:space-between; margin-top:16px; padding:0 6px; color:var(--color-2); }
.terms-list li:first-child { margin-top:10px; }

/* PAY-AUTH-004 인증수단 선택 */
.auth-method-list { display:flex; flex-direction:column; gap:18px; }
.auth-method-card { display:block; width:100%; cursor:pointer; position:relative; }
.auth-method-card input[type="radio"] { display:none; }

/* 카드 디자인 */
.auth-method-card .card-inner { display:flex; align-items:center; width:100%; min-height:68px; padding:22px 18px; box-sizing:border-box; background-color:#FAF8FA; border:1px solid transparent; border-radius:12px; transition:all 0.2s ease; }
.auth-method-card input:checked + .card-inner { background-color:#FFFFFF; border-color:var(--primary); box-shadow:2px 2px 12px 0 rgba(163, 0, 0, 0.25); }

/* 로고 아이콘 */
.auth-method-card .logo { width:32px; height:32px; border-radius:50%; margin-right:10px; background-size:cover; background-repeat:no-repeat; background-position:center; background-color:#ddd; }
.auth-method-card .logo.pass { background-image:url('../images/AUTH/pass_img.png'); }
.auth-method-card .logo.kakao { background-image:url('../images/AUTH/kakao_img.png'); }
.auth-method-card .logo.toss { background-image:url('../images/AUTH/toss_img.png'); }
.auth-method-card .logo.bank { background-image:url('../images/AUTH/ot_img.png'); }

/* 텍스트 및 체크 아이콘 */
.auth-method-card .name { color:var(--color-45); font-weight:500; flex:1; }
.auth-method-card .chk-svg { margin-left:auto; }
.auth-method-card .chk-svg path { stroke:var(--color-9); stroke-dashoffset:0; transition:stroke 0.2s; }
.auth-method-card input:checked + .card-inner .chk-svg path { stroke:var(--primary); animation:redraw 0.3s ease forwards; }


/* PAY-AUTH-005 인증 완료 페이지 */
.PAY-AUTH-005 .contents-inner { display:flex; flex-direction:column; min-height:calc(100vh - 50px - 100px); }
.PAY-AUTH-005 .section-jumbotron .se-title { font-size:24px; line-height:150%; }
.PAY-AUTH-005 .section-jumbotron .text { color:var(--color-45); }

/* 타이틀 형광펜 효과 */
.se-title .highlight { position:relative; z-index:1; display:inline-block; }
.se-title .highlight::after { content:''; position:absolute; bottom:2px; left:0; width:100%; height:8px; background-color:#FFdddf; z-index:-1; opacity:0.8; }

/* 이미지 영역 */
.PAY-AUTH-005 .result-motion { flex:1; display:flex; align-items:center; justify-content:center; padding-bottom:40px; }
.PAY-AUTH-005 .result-motion .motion-bg { display:block; min-width:259px; min-height:149px; background-image:url('../../resource/images/AUTH/comp_img.gif'); background-repeat:no-repeat; background-position:center; background-size:contain; }


/* ========================================================================== 로그인 (간편인증) ========================================================================== */

/* PAY-LOGN-001 간편인증 로그인 선택 */
.login-method-list { border-top: 1px solid var(--color-e); }
.login-method-list li { border-bottom: 1px solid var(--color-e); }

.login-more-wrap { margin-top: 16px; display: flex; justify-content: flex-end; }

/* ========================================================================== OBNK-001 ========================================================================== */
/* OBNK-001 */
.section.PAY-OBNK-REG-001 {padding-top: 26px;}
/* 서브페이지 전용 소제목 */
.sub-title-sm { font-size: 16px; font-weight: 600; color: var(--color-2); margin-bottom: 12px; text-align: left; }
.mt32 { margin-top: 32px; }

/* ========================================================================== OBNK-002 ========================================================================== */
.terms-pack + .terms-pack {margin-top: 28px;}
.PAY-OBNK-REG-002 label.check{align-items: start;}

.notice-pack { background-color: #f8fafb; border-radius: 8px; margin-top: 40px; overflow: hidden; }
.notice-head { padding: 18px 14px; display: flex; align-items: center; position: relative; }
.notice-head .ico-info { width: 24px; height: 24px; background: url('../../resource/images/svg/OBNK/ico_obnk_notice.svg') no-repeat center / contain; margin-right: 8px; }
.notice-head .tit { font-size: 16px; color: var(--color-45);font-weight: 500;}
.notice-head .btn-fold { margin-left: auto; width: 24px; height: 24px; background: transparent var(--ico-select) no-repeat center / 20px; border: 0; padding: 0; cursor: pointer; /* transition: transform 0.3s;  */}
.notice-pack.on .btn-fold { transform: rotate(180deg); }

.accordion-notice-body { display: none; padding: 0 20px 18px 20px; }
.notice-pack.on .accordion-notice-body { display: block; }
.accordion-notice-list li { position: relative; padding-left: 10px; font-size: 14px; color: var(--color-75); margin-top: 14px; text-align: left; }
.accordion-notice-list li::before { content: "•"; position: absolute; left: 0; top: 0; color: var(--color-75); }
.accordion-notice-list li:first-child { margin-top: 0; }

/* ========================================================================== OBNK-006 ========================================================================== */
.ico-complete { width: 58px; height: 58px; background: url("../../resource/images/OBNK/check_img.gif") no-repeat center / contain; margin-bottom: 14px;}
.bank-select-list li .comp {font-size: 14px; color: var(--success); font-weight: 500;}
.bank-select-list li .fail {font-size: 14px; color: var(--error); font-weight: 500;}

/* ========================================================================== PAYM-002 ========================================================================== */
/* 결제 상세 리스트 */
.pay-detail-list {margin-bottom: 28px; border-bottom: 1px solid var(--color-e);}
.PAY-PAYM-002 .pay-detail-list {border-bottom: none;}
.pay-detail-list li { display: flex; justify-content: space-between; align-items: center; margin-bottom: 20px; }
.pay-detail-list li:last-child {margin-bottom: 28px;}

.pay-detail-list .label { font-size: 14px; color: var(--color-9); font-weight: 500; }
.pay-detail-list .val { font-size: 16px; color: var(--color-45); font-weight: 400; }
.pay-detail-list .val small { font-size: 12px; color: var(--color-9); font-weight: 400; margin-left: 5px; }

/* 총 결제 금액 상자 */
.pay-total-box { display: flex; justify-content: space-between; align-items: center; padding-top: 20px; padding-bottom: 48px; border-top: 1px solid var(--color-2);}
.pay-total-box .label { font-size: 14px; font-weight: 500; color: var(--color-75); }
.pay-total-box .amount { font-size: 24px; font-weight: 500; color: var(--success); }

/* 카드 비주얼 영역 */
.pay-card-visual { text-align: center; margin-bottom: 60px; }
.pay-card-visual .card-img { width: 251px; margin: 0 auto 10px; }
/* .pay-card-visual .card-img img { width: 100%; border-radius: 12px; box-shadow: 0 10px 20px rgba(0,0,0,0.1); } */
.pay-card-visual .card-info { display: block; font-size: 12px; color: var(--color-75); font-weight: 500; }

/* 동의 영역 */
/* .pay-consent-wrap { padding: 20px 0; text-align: left; } */
.pay-consent-wrap .check.fill .txt { font-size: 16px; color: var(--color-75); font-weight: 400; }

/* 라디오 버튼 간격 보정 */
label.radio + label.radio { margin-left: 10px; }

/* ========================================================================== PAYM-003 ========================================================================== */
.PAY-PAYM-003 .section-jumbotron.auth-complete {padding-bottom: 26px; border-bottom: 1px solid var(--color-2);}
.PAY-PAYM-003 .val.success {color: var(--success); font-weight: 600;}
.PAY-PAYM-003 .contents-inner { display: flex; flex-direction: column; min-height: calc(100vh - 110px);}

