@charset "utf-8";

.layout { min-width:320px; height:100%; position:relative; }

/* Z-Index 관리 */
.header { z-index:100; }
.layout-alert { z-index:1000; }
.layout-popup { z-index:1000; }
.layout-slide { z-index:1000; }
.layout-fullpop { z-index:1000; }
.layout-loading { z-index:10000; }

/* Header */
.header { position:fixed; top:0; left:0; width:100%; background-color:#fff; }
.header-inner { position:relative; height:50px; padding:0 50px; box-sizing:border-box; display:flex; align-items:center; justify-content:center; }
.header-inner .left, .header-inner .right { position:absolute; top:0; width:55px; height:100%; display:flex; align-items:center; justify-content:center; }
.header-inner .left { left:0; }
.header-inner .right { right:0; }

.header-inner .title { width:100%; font-size:18px; text-align:left; margin-left: 2px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; color:#222; font-weight: 500; }
.header-inner.left-title { padding-left:20px; }

/* 로고 이미지 크기 조절 */
.header-inner .left.logo-type { width:auto; padding-left:20px; justify-content:flex-start; }
.header-inner .left.logo-type img { height:18px; width:108px; display:block; }

/* 헤더 버튼 (뒤로가기 등) */
.se-btn { width:40px; height:40px; background:transparent no-repeat center / 24px; border:0; cursor:pointer; font-size:0; }
.se-btn.back { background-image:url("../images/svg/arrow.svg"); }
.se-btn.menu { background-image:url("../images/svg/menu.svg"); }
.se-btn.close { background-image:url("../images/svg/headerX.svg"); }


/* Container */
.container { position:relative; min-height:100vh; padding-top:50px; box-sizing:border-box; background-color:var(--white); }
.contents { min-height:100%; }
.contents-inner { padding:38px 20px; box-sizing:border-box; overflow-x: hidden; }

/* Section (콘텐츠 그룹) */
/* .section-wrap { margin-bottom: 100px; padding-bottom: 70px; } */
.section-jumbotron { margin-bottom:20px; }
.section-jumbotron .se-title { font-size:22px; font-weight:500; color:#222; margin-bottom:10px; }
.section-jumbotron .text { font-size:14px; color:var(--color-75); line-height: 1.5; }
.section { background:#fff; padding-bottom: 120px;}


/* Modal & Popup */
.layout-fullpop { position:fixed; top:0; left:0; width:100%; height:100%; background-color:#fff; z-index:var(--z-popup); }
.layout-fullpop .popup-layer { display:flex; flex-direction:column; height:100%; }
.layout-fullpop .popup-header { flex:none; position:relative; height:var(--header-h); background:#fff; }
.layout-fullpop .popup-container { flex:1; overflow-y:auto; padding:38px 20px 100px 20px; }
.layout-fullpop .popup-footer { flex:none; padding:20px; background:linear-gradient(to top,#ffffff 0%,#ffffff 70%,rgba(255,255,255,0) 100%); }

/* Slide Popup (바텀 시트) */
.layout-slide { position:fixed; top:0; left:0; width:100%; height:100%; background-color:rgba(0, 0, 0, 0.5); display:flex; flex-direction:column; justify-content:flex-end; visibility:hidden; opacity:0; transition:all 0.3s; }
.layout-slide.on { visibility:visible; opacity:1; }

.layout-slide .popup-layer { background-color:#fff; border-radius:20px 20px 0 0; max-height:60vh; display:flex; flex-direction:column; position:relative; transform:translateY(100%); transition:transform 0.3s cubic-bezier(0.33, 1, 0.68, 1); }
.layout-slide.on .popup-layer { transform:translateY(0); }

.layout-slide .popup-header { position:relative; height:51px; display:flex; align-items:center; justify-content:center; padding:0 20px; }
.layout-slide .popup-header .popup-title { font-size:18px; font-weight:500; }
.layout-slide .popup-header .popup-close { position:absolute; right:10px; width:40px; height:40px; border:0; background:transparent no-repeat center / 20px; background-image:url("../images/svg/headerX.svg"); font-size:0; cursor:pointer; }
.layout-slide .popup-container { flex:1; overflow-y:auto; padding:20px 20px 100px 20px; }
.layout-slide .popup-footer { position:absolute; bottom:0; left:0; width:100%; z-index:10; padding:20px; background:linear-gradient(to top,#ffffff 0%,#ffffff 70%,rgba(255,255,255,0) 100%); }

/* Alert Popup */
.layout-alert { position:fixed; top:0; left:0; width:100%; height:100%; background-color:rgba(0, 0, 0, 0.5); z-index:var(--z-popup); display:flex; align-items:center; justify-content:center; padding:20px; box-sizing:border-box; }
.layout-alert .popup-layer { width:100%; max-width:420px; background:#fff; border-radius:8px; overflow:hidden; text-align:center; display:flex; flex-direction:column; }
.layout-alert .popup-container { padding:40px 20px 0 20px; }
.layout-alert .popup-contents { font-size:16px; color:#222; line-height:1.5; margin-bottom:36px; }
.layout-alert .popup-footer { padding:0 20px 20px 20px; border:0; background:transparent; }

/* 메인 팝업 */
.layout-slide.type-event .popup-layer { width: 100%; max-width: none; background: #fff; }
.layout-slide.type-event .popup-container { padding: 0 !important; background-color: #C7D8FA; width: 100%; border-radius: 20px 20px 0 0;}
.layout-slide.type-event .event-visual { max-width: 600px; margin: 0 auto; width: 100%; }
.layout-slide.type-event .event-visual img { width: 100%; height: auto; display: block; }
.layout-slide.type-event .popup-footer { flex: none; height: 63px; background: #fff !important; border-top: 1px solid #f0f0f0; position: static; width: 100%; }
.layout-slide.type-event .event-footer-btns { display: flex; width: 100%; height: 100%; padding: 0 ; box-sizing: border-box; }
.layout-slide.type-event .event-footer-btns button { flex: 1; display: block !important; width: 100% !important; height: 100% !important; padding: 0 !important; background: none !important; border: none !important; transform: none !important; opacity: 1 !important; min-height: auto !important; }
.layout-slide.type-event .btn-today-hide { text-align: left !important; font-size: 16px; color: var(--color-75); }
.layout-slide.type-event .btn-close-text { text-align: right !important; font-size: 16px; color: var(--color-45); }