@charset "utf-8";

.contents-inner.main { padding: 20px 20px;}
.contents-inner.main2 { padding: 40px 20px;}
/* ========================================================================== Bottom Nav ========================================================================== */
.bottom-nav { position: fixed; bottom: 0; left: 0; width: 100%; height: 70px; background-color: var(--white); border-top: 1px solid var(--color-d); z-index: 150; box-sizing: content-box; }
.nav-inner { display: flex; height: 100%; align-items: center; justify-content: space-around; }
.nav-item { display: flex; flex-direction: column; align-items: center; justify-content: center; text-decoration: none; width: 25%; height: 100%; }
.nav-item .text { font-size: 12px; color: var(--color-75); font-weight: 500; margin-top: 4px; }
.nav-item .icon { width: 24px; height: 24px; background-repeat: no-repeat; background-position: center; background-size: contain; }
.nav-item .icon.my { background-image: url("../../resource/images/svg/MAIN/ico-my.svg"); }
.nav-item .icon.pay { background-image: url("../../resource/images/svg/MAIN/ico-wallet.svg"); }
.nav-item .icon.asset { background-image: url("../../resource/images/svg/MAIN/ico-money.svg"); }
.nav-item .icon.benefit { background-image: url("../../resource/images/svg/MAIN/ico-percent.svg"); }
.nav-item.on .text { color: var(--primary); font-weight: 700; }
.nav-item.on .icon.my { background-image: url("../../resource/images/svg/MAIN/ico-my-on.svg"); }
.nav-item.on .icon.pay { background-image: url("../../resource/images/svg/MAIN/ico-wallet-on.svg"); }
.nav-item.on .icon.asset { background-image: url("../../resource/images/svg/MAIN/ico-money-on.svg"); }
.nav-item.on .icon.benefit { background-image: url("../../resource/images/svg/MAIN/ico-percent-on.svg"); }

/* ========================================================================== 카드 공통 ========================================================================== */
.section { background: transparent !important; }
.card { border-radius: 12px; background: #FFF; box-shadow: 2px 2px 8px 0 rgba(153, 153, 153, 0.25); margin-bottom: 26px; overflow: hidden; }
.card.main-dash { overflow: visible !important; margin-top: 30px; padding: 0; }

/* ========================================================================== 대표카드 ========================================================================== */
.dash-inner { position: relative; padding: 18px 16px; background: linear-gradient(263deg, #FF5460 8.68%, #FE755D 59.82%); color: #fff; border-radius: 8px 8px 0 0; }
.dash-inner.ty-account { background: linear-gradient(263deg, #5457FF 8.68%, #9076F5 59.82%);}
.card-no { display: flex; align-items: center; font-size: 12px; font-weight: 400; color: var(--white) !important; }
.card-no::before { content:''; display:inline-block; width:24px; height:15px; margin-right:8px; background: url("../../resource/images/MAIN/MasterCard_img.png") no-repeat center / contain; }
.dash-inner.ty-account .card-no::before { background-image: url("../../resource/images/MAIN/logo-toss-symbol-white-fill.png"); width: 18px; height: 18px; }
.info-amount { margin-top: 12px; }
.info-amount .val { font-size: 28px; font-weight: 700; }
.info-amount .unit { font-size: 20px; font-weight: 500; }
.card-name { font-size: 14px;}
.info-detail { display: flex; justify-content: space-between; align-items: center; margin-top: 18px; margin-bottom: 5px;}
.btn-history { position: relative; display: inline-flex; align-items: center; justify-content: center; max-width: 69px; min-height: 35px; padding: 6px 12px; background: rgba(255, 255, 255, 0.16); border-radius: 6px; color: #fff; font-size: 13px; font-weight: 500; line-height: 1; white-space: nowrap; border: none; z-index: 1; }
.btn-history::before { content: ""; position: absolute; inset: 0; padding: 1px; border-radius: 6px; background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%); -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0); -webkit-mask-composite: xor; mask-composite: exclude; pointer-events: none; }
.floating-card { position: absolute; top: -50px; right: 0px; width: 150px; height: 150px; z-index: 10; }
.floating-account { position: absolute; top: -30px; right: 20px; width: 124px; height: 128px; z-index: 10; }
.floating-card img { width: 100%; filter: drop-shadow(4px 8px 12px rgba(0,0,0,0.3)); }
.btn-copy { display: inline-block; padding: 0; border-radius: 0; width: 14px; height: 14px; margin-left: 7px; background: url("../../resource/images/svg/MAIN/phcopy.svg") no-repeat center / contain; border: 0; vertical-align: middle; cursor: pointer; }

/* ========================================================================== 대표카드 버튼 ========================================================================== */
.btn-card-change { display: flex; align-items: center; justify-content: space-between; height: 48px; padding: 0 16px; background-color: #fff; color: var(--color-45); font-size: 14px; text-decoration: none; border-radius: 0 0 8px 8px;}
.btn-card-change:active {transform: none !important;}
.btn-card-change::before { content: ''; display: inline-block; width: 24px; height: 24px; margin-right: 10px; background: url("../../resource/images/svg/MAIN/change-ico.svg") no-repeat center / contain; }
.btn-card-change::after { content: ''; display: inline-block; width: 20px; height: 20px; margin-left: auto; background-color: #f2f2f2; border-radius: 50%; background-image: url("../../resource/images/svg/MAIN/main-right-757575.svg"); background-repeat: no-repeat; background-position: center; background-size: 12px 12px; }

/* ========================================================================== 탭메뉴 ========================================================================== */
.tab-wrap { background: #fff; border-bottom: 1px solid var(--color-e); position: sticky; top: 50px; z-index: 90; }
.tab-list { display: flex; height: 50px; padding: 0 20px; justify-content: flex-start; gap: 12px; }
.tab-list li { position: relative; padding: 8px; height: 100%; display: flex; align-items: center; justify-content: center; }
.tab-list li a { font-size: 16px; color: var(--color-45); font-weight: 500; text-decoration: none; }
.tab-list li.on a { color: var(--color-2); font-weight: 700; }
.tab-list li.on::after { content: ''; position: absolute; bottom: 0; left: 0; right: 0; height: 3px; background-color: #000; }
.tab-content { display: none; }
.tab-content.on { display: block; }

/* ========================================================================== 결제 서비스 ========================================================================== */
.card.payment {padding: 20px 16px 24px 16px;}
/* 결제 서비스 카드 타이틀 */
.card-inner-title { font-size: 18px; font-weight: 700; color: #222; margin-bottom: 20px; text-align: left; }

.payment-service-list { display: flex; align-items: center; justify-content: space-between;}
.payment-service-list li { width:82px; }
/* 서비스 링크 버튼 */
.btn-service { display: flex; flex-direction: column; align-items: center; width: 100%; text-decoration: none; color: inherit; cursor: pointer; }
.btn-service::before { content: ''; display: block; width: 56px; height: 56px; border: 1px solid var(--color-e); border-radius: 50%; background-repeat: no-repeat; background-position: center; background-size: 24px; margin-bottom: 12px; transition: background-color 0.2s; }
.btn-service .name { font-size: 14px; color: var(--color-45); font-weight: 400; letter-spacing: -0.5px; }

.btn-service.touch::before { background-image: url("../../resource/images/svg/MAIN/ico_touch.svg"); }
.btn-service.send::before {background-image: url("../../resource/images/svg/MAIN/send_money.svg");}
.btn-service.scan::before { background-image: url("../../resource/images/svg/MAIN/ico_scan.svg"); background-color: #212733; background-size: 28px; }
.btn-service.auto::before { background-image: url("../../resource/images/svg/MAIN/auto.svg"); background-color: #212733; background-size: 28px; }
.btn-service.barcode::before { background-image: url("../../resource/images/svg/MAIN/barcode.svg"); }
.btn-service.accreg::before { background-image: url("../../resource/images/svg/MAIN/acc_reg.svg"); }

/* ========================================================================== 카드 결제금액 ========================================================================== */
/* 카드 헤더 및 메뉴 버튼 */
.card.amount {padding: 20px 16px;}
.card-head { display: flex; align-items: center; justify-content: space-between; margin-bottom: 26px; }
.card-head .card-inner-title {margin-bottom: 0;}
.btn-more-dot { width: 24px; height: 24px; background: url("../../resource/images/svg/MAIN/ico-more-col.svg") no-repeat center / contain; border: 0; cursor: pointer; padding: 0;}

/* 결제 금액 리스트 스타일 */
.payment-amount-list { margin-bottom: 20px; }
.payment-amount-list li { margin-bottom: 28px; }
/* .payment-amount-list li:last-child { margin-bottom: 0; } */
.payment-amount-list .item-link { display: flex; align-items: center; text-decoration: none; position: relative; padding-right: 20px; }
.payment-amount-list .item-link::after { content: ''; position: absolute; right: 0; top: 50%; transform: translateY(-50%); width: 16px; height: 16px; background: url("../../resource/images/svg/MAIN/main-right-999.svg") no-repeat center / contain; }

/* 월별 뱃지 스타일 */
.month-badge { width: 50px; height: 50px; border-radius: 12px; display: flex; align-items: center; justify-content: center; font-size: 13px; font-weight: 700; flex-shrink: 0; margin-right: 14px; }
.month-badge.mint { background-color: #DFF6F6; color: #337171; }
.month-badge.peach { background-color: #FFF1DA; color: #F16B5E; }

.info-text .label { font-size: 14px; color: var(--color-75); margin-bottom: 3px; }
.info-text .amount { font-size: 18px; color: var(--color-2); font-weight: 700;}

/* 하단 상세보기 버튼 스타일 */
.btn-detail-view { display: block; width: calc(100%); padding: 20px 8px 0 8px; border-top: 1px solid var(--color-e); text-align: center; color: var(--color-75); font-size: 14px; font-weight: 500; text-decoration: none; border-radius: 0 0 8px 8px; line-height: 1; height: auto; }

/* ========================================================================== 일반 배너 ========================================================================== */
.card.banner-asset { position: relative; padding: 20px; display: flex; align-items: center; min-height: 108px; cursor: pointer; background-color: #E9EFFF; box-shadow: none;}

.banner-asset .banner-text { font-size: 16px; color: var(--color-45); line-height: 1.4; text-align: left; }
.banner-asset .banner-text strong { font-size: 18px; color: var(--color-2); font-weight: 700; }

.card.banner-asset::after { content: ''; position: absolute; top: 55%; right: 0px; transform: translateY(-50%); width: 114px; height: 68px; background: url("../../resource/images/MAIN/coin.png") no-repeat center / contain; }

/* ========================================================================== 퀵메뉴 ========================================================================== */
/* 퀵 메뉴 카드 전체 설정 */
.card.quick-menu { padding: 30px 16px; }
.quick-list li { margin-bottom: 24px; }
.quick-list li:last-child { margin-bottom: 0; }

/* 리스트 아이템 링크 */
.quick-list .item-link { display: flex; align-items: center; position: relative; text-decoration: none; padding-bottom: 24px; border-bottom: 1px solid #f0f0f0; }
.quick-list li:last-child .item-link { border-bottom: 0; padding-bottom: 0; }

/* 왼쪽 아이콘 */
.quick-list .item-link::before { content: ''; display: block; width: 34px; height: 34px; margin-right: 12px; background-repeat: no-repeat; background-position: center; background-size: contain; flex-shrink: 0;}
.quick-list .item-link.notice::before { background-image: url("../../resource/images/svg/MAIN/notice.svg"); }
.quick-list .item-link.guide::before { background-image: url("../../resource/images/svg/MAIN/info.svg"); }
.quick-list .item-link.faq::before { background-image: url("../../resource/images/svg/MAIN/qna.svg"); }

/* 우측 화살표 */
.quick-list .item-link::after { content: ''; display: block; width: 16px; height: 16px; margin-left: auto; background: url("../../resource/images/svg/MAIN/main-right-999.svg") no-repeat center / contain; }

/* 텍스트 스타일 */
.quick-list .name { font-size: 16px; color: var(--color-45); font-weight: 500; }

/* ========================================================================== 알림배너 ========================================================================== */
/* 알림 배너 전체 설정 */
.card.banner-notice { background: #4a5da9; padding: 12px 16px; border: 0; display: flex; align-items: center; border-radius: 8px; }

/* 왼쪽 벨 아이콘 */
.banner-notice .ico-bell { width: 50px; height: 50px; background: url("../../resource/images/MAIN/notif_img.png") no-repeat center / contain; margin-right: 6px; flex-shrink: 0; }

/* 중앙 텍스트 */
.banner-notice .banner-text { flex: 1; text-align: left; font-size: 12px; color: var(--white);  }
.banner-notice .banner-text strong { display: block; font-size: 16px; margin-top: 4px; }

/* 오른쪽 알림설정 버튼 */
.btn-setup { width: auto; background: #fff; border-radius: 4px; padding: 8px 12px; min-height: 37px; font-size: 14px; color: #454545; font-weight: 500; display: inline-flex; align-items: center; justify-content: center; flex-shrink: 0; cursor: pointer; border: 0; }
.btn-setup:active { background-color: #f2f2f2; }

/* ========================================================================== 스와이프 배너 ========================================================================== */
/* 추천 배너 카드 기본 */
.card.banner-recommend { padding: 0; overflow: hidden; position: relative; }
.recommend-item { text-decoration: none; display: block; }

.visual-area { width: 100%; height: 180px; background-color: #272238; background-repeat: no-repeat; background-position: center; background-size: 280px 161px;}
.visual-area.b1 { background-image: url('../../resource/images/MAIN/banner01_img.png'); }
.visual-area.b2 { background-image: url('../../resource/images/MAIN/banner02_img.png'); }

/* 나머지 텍스트 */
.info-area { padding: 20px; text-align: left; background: #fff; }
.info-area .title { font-size: 16px; color: var(--color-2); font-weight: 700;}
.info-area .desc { font-size: 14px; color: var(--color-45); margin-top: 4px; }

/* 스와이퍼 페이지네이션 */
.recommend-pagination { position: absolute; top: 16px !important; right: 16px !important; left: auto !important; width: auto !important; display: flex; gap: 5px; z-index: 1000; }
.recommend-pagination .swiper-pagination-bullet { width: 7px; height: 7px; background: #C5C5C5; margin: 0 !important; border-radius: 50%; }
.recommend-pagination .swiper-pagination-bullet-active { width: 24px; opacity: 1; border-radius: 20px; background: #fff; }

/* ========================================================================== 메인유틸버튼 ========================================================================== */
.main-util-wrap { display: flex; justify-content: center; align-items: center; gap: 12px; }
.btn-util { display: inline-flex; align-items: center;  justify-content: center; width: auto; min-width: 88px; min-height: 37px; padding: 8px 12px; background: #EAEBEF; border-radius: 6px; color: var(--color-2); font-size: 14px; font-weight: 500; border: 0; cursor: pointer; white-space: nowrap;}

/* ========================================================================== 주간 캘린더 ========================================================================== */
/* 주간 캘린더 레이아웃 */
.card.financial-calendar {padding: 20px 16px;}
.weekly-list { display: flex; justify-content: space-between; padding: 10px 0 24px; border-bottom: 1px solid var(--color-e); margin-bottom: 22px; }
.weekly-list li { display: flex; flex-direction: column; align-items: center; gap: 6px; flex: 1; cursor: pointer;}
.weekly-list li .day { font-size: 14px; color: var(--color-9); font-weight: 500;}
.weekly-list li .date { font-size: 16px; color: var(--color-45); font-weight: 500; width:24px; height: 24px; display: flex; align-items: center; justify-content: center; border-radius: 8px; }
.weekly-list li.on .date { background-color: #F2F5FC; color: var(--color-2); font-weight: 700; }
.weekly-list li.disabled { cursor: default; }
.weekly-list li.disabled .day, .weekly-list li.disabled .date { color: var(--color-9) } 
/* 내역 리스트 레이아웃 */
.transaction-area { text-align: left; }
.trans-group { margin-bottom: 24px; }
.group-date { font-size: 13px; color: var(--color-75); margin-bottom: 16px; }
.trans-item { display: flex; align-items: center; gap: 16px; margin-bottom: 20px; }
.trans-item:last-child { margin-bottom: 0; }
.trans-group { display: none; }
.trans-group.on { display: block; }

.trans-empty { display: none; padding-bottom: 26px; text-align: center; }
.trans-empty.on { display: block; }

.trans-empty .ico-no-data { width: 38px; height: 38px; margin: 0 auto 6px; background-image: url("../../resource/images/svg/MAIN/ready.svg"); background-repeat: no-repeat; background-position: center; background-size: 38px; }

/* 안내 문구 */

.ico-badge { position: relative; width: 50px; height: 50px; background-color: #F2F5FC; border-radius: 12px; }
.ico-badge::before { content: ''; position: absolute; inset: 0; background-repeat: no-repeat; background-position: center; background-size: 28px; }
.ico-badge.minus::before { background-image: url("../../resource/images/svg/MAIN/wd_ico.svg"); }
.ico-badge.plus::before { background-image: url("../../resource/images/svg/MAIN/dp_ico.svg"); }

/* 내역 텍스트 정보 */
.trans-item .info .name { font-size: 16px; color: var(--color-45); font-weight: 600; }
.trans-item .info .type { font-size: 12px; color: var(--color-45); margin-top: 6px; font-weight: 400;}
.trans-item .info .type span { position: relative; padding-left: 6px; }
.trans-item .info .type span::before { content: ''; position: absolute; left: 0; top: 50%; transform: translateY(-50%); margin-left: 1px; width: 1px; height: 10px; background-color: var(--color-d); }
.trans-empty .text { font-size: 14px; color: var(--color-75); font-weight: 400; }
/* 금액 정보 */
.trans-item .amount { margin-left: auto; font-size: 18px; font-weight: 700; }
.trans-item .amount.withdrawal,.trans-item .amount.deposit { color: var(--color-2); }

/* ========================================================================== 간단한 페이지 전용 타이틀, 컨텐츠 ========================================================================== */
/* 오픈뱅킹 탭 서비스 준비중 */
.section-jumbotron.tac {padding-top: 38px;}
.section-jumbotron.tac .se-title {color: var(--color-2); font-size: 22px; font-weight: 700; line-height: 150%;}
.open-intro-visual { width: 194px; height: 194px; margin: 0 auto 40px; background: url("../../resource/images/MAIN/openbanking_bg.png") no-repeat center / contain; }

/* 서비스 준비중 전용 스타일 */
.section-jumbotron.service-unready { padding: 120px 0 60px !important; text-align: center; }
.section-jumbotron.service-unready::before { content: ''; display: block; width: 86px; height: 86px; margin: 0 auto 14px; background-image: url("../../resource/images/svg/MAIN/ready-large.svg"); background-repeat: no-repeat; background-position: center; background-size: contain; }
.section-jumbotron.service-unready .se-title {font-weight: 700; margin-bottom: 12px; }



/* ========================================================================== PAY-MAIN-004 ========================================================================== */
/*-- card-product-banner 관련 스타일 --*/
.card-product-banner { margin-bottom: 40px; position: relative; }
.card-main-swiper { overflow: visible !important; }
.swiper-pagination-total {font-weight: 400; color: var(--color-75);}

.banner-inner { position: relative; height: 276px; border-radius: 12px; overflow: hidden; background-repeat: no-repeat; background-position: center; background-size: cover; padding: 28px; box-sizing: border-box; }
.banner-inner.b1 { background-image: url('../../resource/images/MAIN/main_left_container.png'); }
.banner-inner.b2 { background-image: url('../../resource/images/MAIN/main_right_container.png'); }
.banner-inner.b3 { background-image: url('../../resource/images/MAIN/main_fiance_left_container.png'); }
.banner-inner.b4 { background-image: url('../../resource/images/MAIN/main_fiance_right_container.png'); }

.centered-img { position: absolute; left: 50%; transform: translate(-50%, -50%); z-index: 2; pointer-events: none; }
.banner-inner.b1 .centered-img { top: 42%; width: 180px; }
.banner-inner.b2 .centered-img { top: 38%; left: 52%; width: 114px; }
.banner-inner.b3 .centered-img { top: 42%; left: 50%; width: 224px;}
.banner-inner.b4 .centered-img { top: 45%; left: 50%; width: 300px;}

.banner-txt { position: absolute; bottom: 30px; left: 24px; text-align: left; z-index: 3; pointer-events: none; }
.banner-txt .tit { font-size: 18px; font-weight: 700; display: block; margin-bottom: 8px; }
.banner-txt .desc { font-size: 14px; margin: 0; font-weight: 400;}

.banner-inner.b1 .banner-txt .tit, .banner-inner.b3 .banner-txt .tit { color: var(--white); }
.banner-inner.b1 .banner-txt .desc { color: var(--color-e); }

.banner-inner.b2 .banner-txt .tit, .banner-inner.b4 .banner-txt .tit { color: var(--color-2); }
.banner-inner.b2 .banner-txt .desc, .banner-inner.b4 .banner-txt .desc { color: var(--color-45); }

.banner-inner.b3 .banner-txt .desc {color: var(--white);}

/* 컨트롤러 및 페이지네이션 */
.swiper-controls-wrap { display: flex; align-items: center; justify-content: center; gap: 5px; margin-top: 16px; position: relative; z-index: 10; }
.btn-prev, .btn-next { width: 7px; height: 7px; background-repeat: no-repeat; background-position: center; background-size: 7px; cursor: pointer; border: 0; background-color: transparent; }
.btn-prev { background-image: url('../../resource/images/svg/MAIN/main-right-757575.svg'); transform: rotate(180deg); }
.btn-next { background-image: url('../../resource/images/svg/MAIN/main-right-757575.svg'); }
.swiper-pagination-fraction { position: relative !important; width: auto !important; bottom: auto !important; font-size: 14px; color: #222; font-weight: 500; }
.swiper-controls-wrap [class*="btn-"].swiper-button-disabled { background-color: #fff !important; }


/*-- recommend-area --*/
/* 추천 카드 섹션 전체 */
.recommend-area { margin-bottom: 40px; }
.recommend-area-title { font-size: 20px; font-weight: 700; color: #222; text-align: left; margin-bottom: 13px; }
.recommend-card-swiper { border-radius: 12px; overflow: hidden; }

.recommend-box { background-color: #f8f8f8; border-radius: 12px; padding: 20px; display: flex; align-items: center; gap: 16px; text-align: left; }
.recommend-box .img-box { width: 53px; height: 84px; flex-shrink: 0; display: flex; align-items: center; justify-content: center; overflow: hidden; }
.recommend-box .img-box img { max-width: 100%; max-height: 100%; width: auto; height: auto; display: block;  }

.recommend-box .info-box .name { color: #222; font-size: 16px; font-weight: 700; display: block; }
.recommend-box .benefit-list { line-height: 1.5; margin-top: 10px; }
.recommend-box .benefit-list li { font-size: 12px; color: #757575; }

/* 금융타입 전용 - 텍스트 왼쪽, 이미지 오른쪽 배경 처리 */
.recommend-box.type-finance {font-size: 18px; font-weight: 700; justify-content: space-between; padding-right: 10px; line-height: 1.5;} /* 오른쪽 여백 살짝 조절 */
.recommend-box.type-finance .info-box .f-line { font-size: 12px; color: var(--color-45); font-weight: 700; margin-bottom: 5px;}
.recommend-box.type-finance .info-box .m-line { font-size: 16px; font-weight: 500; } 
.recommend-box.type-finance .info-box .e-line { color: var(--color-2);} 
.recommend-box.type-finance .visual-box {max-width: none; max-height: none;}
.recommend-box.type-finance .visual-box.credit { width: 94px; height: 94px; background: url("../../resource/images/MAIN/main_fiance_banner_img1.png") no-repeat center / contain; flex-shrink: 0; }
.recommend-box.type-finance .visual-box.limit { width: 94px; height: 94px; background: url("../../resource/images/MAIN/main_fiance_banner_img2.png") no-repeat center / contain; flex-shrink: 0; }

/* 하단 페이지네이션 */
.recommend-dot { position: relative !important; bottom: auto !important; margin-top: 13px; display: flex; justify-content: center; gap: 6px; }
.recommend-dot .swiper-pagination-bullet { width: 6px; height: 6px; background-color: #d1d1d1; opacity: 1; margin: 0 !important; }
.recommend-dot .swiper-pagination-bullet-active { width: 15px; border-radius: 4px; background-color: #35354D; }


/*-- product-list-area --*/
/* 알약 탭 관련 */
.pill-tab-wrap { margin-bottom: 20px; overflow-x: auto; -webkit-overflow-scrolling: touch; }
.pill-tab-wrap::-webkit-scrollbar { display: none; }

.pill-tab-list { display: flex; align-items: center; justify-content: flex-start; gap: 10px; }
.pill-tab-list li { flex: none; display: flex; align-items: center; justify-content: center; }
.pill-tab-list li a { display: inline-flex; align-items: center; justify-content: center; height: 36px; padding: 0 12px; border-radius: 100px; border: 1px solid var(--color-e); background: var(--white); color: var(--color-6); font-size: 16px; font-weight: 500; text-decoration: none; white-space: nowrap; transition: all 0.2s; }

/* 활성화 상태 */
.pill-tab-list li.on a { background-color: #35384F; border-color: #35384F; color: #fff;}
.pill-content { display: none; }
.pill-content.on { display: block; }

/* 상품 리스트 카드 공통 */
.product-item { position: relative; padding: 24px 20px; text-align: left; margin-bottom: 20px; }
.info-box {padding-right: 20px;}
/* 찜 버튼 */
.btn-wish { position: absolute; top: 18px; right: 10px; width: 24px; height: 24px; background: url("../../resource/images/svg/MAIN/ico_heart.svg") no-repeat center / contain; border: 0; cursor: pointer; z-index: 10; }
.btn-wish.on { background-image: url("../../resource/images/svg/MAIN/ico_heart_fill.svg"); }

/* 상단 레이아웃 */
.item-top { display: flex; gap: 16px; margin-bottom: 20px; }
.visual-box { max-width: 53px; max-height: 84px; flex-shrink: 0; display: flex; align-items: flex-start; }

/* 뱃지 및 타이틀 */
.badge-group { display: flex; gap: 4px; margin-bottom: 6px; }
.badge { font-size: 10px; font-weight:500; padding: 0 4px; min-height: 15px; }
.badge.new { background-color: #FFEAEB; color: var(--error); }
.badge.best { background-color: #FFF5DF; color: #BD6600; }
.info-box .tit { display: block; font-size: 18px; color: var(--color-2); margin-bottom: 8px;}

/* 설명 리스트 */
.desc-list li { font-size: 14px; color: var(--color-75); line-height: 1.5; }

/* 하단 레이아웃 (구분선 + 금액 + 버튼) */
.item-bottom { display: flex; justify-content: space-between; align-items: center; padding-top: 20px; border-top: 1px solid var(--color-e); }
.price-info { display: flex; flex-direction: column; gap: 4px; }
.price-info .label { font-size: 12px; color: var(--color-9); font-weight: 500; }
.price-info .val { font-size: 20px; color: var(--color-2); font-weight: 700;}

/* 자세히 보기 버튼 */
.btn-detail { display: inline-flex; align-items: center; justify-content: center; min-width: 88px; min-height: 41px; padding: 10px 12px; background: #EAEBEF; border-radius: 4px; color: var(--color-45); font-size: 14px; font-weight: 600; text-decoration: none; line-height: 1; }
.btn-detail:active { transform: none !important; opacity: 1 !important; }


