@charset "utf-8";

/* PAY-LOGN-00101 팝업 내부 컨텐츠 */
.auth-setting-list { display: flex; flex-direction: column; gap: 10px; }
.auth-setting-list .item-row { display: flex; align-items: center; justify-content: space-between; width: 100%; padding: 10px 0; text-decoration: none; cursor: pointer; }
.auth-setting-list .left { display: flex; align-items: center; gap: 10px; }
.auth-setting-list .name { font-size: 16px; color: #222; font-weight: 500; }
.badge-state { display: inline-flex; align-items: center; justify-content: center; padding: 2px 10px; border-radius: 100px; font-size: 14px; font-weight: 500; background-color: #f3f3f3; color: var(--color-45); }
.badge-state.on { background-color: #EcF4FF; color:var(--success); }
.popup-container.padding-20 { padding: 20px; }

/* PAY-LOGN-002 간편 비밀번호 */
.popup-container.keypad-mode { display: flex; flex-direction: column; text-align: center; padding-top: 42px; padding-bottom: 0; }
.popup-container.keypad-mode .se-title, .popup-container.auth-register-mode .se-title { font-size: 24px; font-weight: 700; }
.pw-dots-area { display: flex; justify-content: center; gap: 15px; margin-top: 26px; margin-bottom: auto; }
.pw-dot { width: 20px; height: 20px; border-radius: 50%; background-color: #E5E5e5; transition: background-color 0.2s; }
.pw-dot.on { background-color:var(--secondary); }

/* PAY-LOGN-003~4 */
.popup-container.auth-register-mode { display: flex; flex-direction: column; height: 100%; text-align: center; padding-top: 42px; }
.popup-container.auth-register-mode .result-motion { display: flex; align-items: center; justify-content: center; margin-top: 26px; }
.popup-container.auth-register-mode .motion-bg { display: block; width: 120px; height: 120px; background-repeat: no-repeat; background-position: center; background-size: contain; }
.popup-container.auth-register-mode .motion-bg.fingerprint { background-image: url('../../resource/images/LOGN/Fingerprint_img.gif'); }
.popup-container.auth-register-mode .motion-bg.face { background-image: url('../../resource/images/LOGN/Face_img.gif'); }
.popup-container.auth-register-mode .auth-btn-wrap { margin-top: 42px; }

/* OBNK-00401 */
.PAY-OBNK-REG-00401 .tab-wrap {top: -38px; margin-right: -20px; margin-left: -20px;} /* 팝업 전용 탭 고정 스타일 */
.search-bar-area {padding-top: 12px; margin-bottom: 32px; }
.input-box.search { background-color: #f5f7f9; border: 0; height: 52px; border-radius: 8px; padding-left: 44px; position: relative; display: flex; align-items: center; }
.input-box.search input { background: transparent; font-size: 18px; height: 100%; }
.input-box.search::before { content: ''; position: absolute; left: 12px; top: 50%; transform: translateY(-50%); width: 20px; height: 20px; background: url("../../resource/images/svg/OBNK/search-line-20.svg") no-repeat center / contain; pointer-events: none; }

/* 리스트 헤더 (은행 / 전체선택) */
.list-header { display: flex; justify-content: space-between; align-items: center; padding: 32px 0 32px 0; }
.list-header .tit { font-size: 20px; font-weight: 500; color: var(--color-2); }
.check-all-label { cursor: pointer; display: flex; align-items: center; }
.check-all-label input { display: none; }
.check-all-label span { font-size: 14px; color: var(--color-75); }

/* 은행 리스트 항목, 아이콘 */
.bank-select-list li { display: flex; align-items: center; justify-content: space-between; padding-bottom: 32px; border-bottom: 0; cursor: pointer;}
.bank-select-list li:last-child{ padding-bottom: 0;}
.bank-info { display: flex; align-items: center; gap: 14px; }
.bank-info::before { content: ''; width: 28px; height: 28px; border-radius: 50%; background-repeat: no-repeat; background-position: center; background-size: 28px; flex-shrink: 0; }
.bank-info.nh::before { background-image: url("../../resource/images/svg/OBNK/icon_nonghyeop_28.svg"); }
.bank-info.kb::before { background-image: url("../../resource/images/svg/OBNK/Icon_kb_28.svg"); }
.bank-info.sh::before { background-image: url("../../resource/images/svg/OBNK/Icon_shinhan_28.svg"); }
.bank-info.wo::before { background-image: url("../../resource/images/svg/OBNK/Icon_woori_28.svg"); }
.bank-info.hana::before { background-image: url("../../resource/images/svg/OBNK/icon_hana_28.svg"); }
.bank-info.ibk::before { background-image: url("../../resource/images/svg/OBNK/icon_IBK_28.svg"); }
.bank-info.im::before { background-image: url("../../resource/images/svg/OBNK/icon_im_28.svg"); }
.bank-info.bnk::before { background-image: url("../../resource/images/svg/OBNK/icon_bnk_28.svg"); }
.bank-info.sc::before { background-image: url("../../resource/images/svg/OBNK/icon_SC_28.svg"); }
.bank-info.kbank::before { background-image: url("../../resource/images/svg/OBNK/icon_kbank_28.svg"); }
.bank-info.mg::before { background-image: url("../../resource/images/svg/OBNK/icon_MG_28.svg"); }
.bank-info.po::before { background-image: url("../../resource/images/svg/OBNK/icon_postoffice_28.svg"); }
.bank-info.sam::before { background-image: url("../../resource/images/svg/OBNK/Icon_samsung_28.svg"); }
.bank-info.hdai::before { background-image: url("../../resource/images/svg/OBNK/ico_hyundai_28.svg"); }
.bank-info.toss::before { background-image: url("../../resource/images/svg/OBNK/Icon_toss_28.svg"); }
.bank-info.bc::before { background-image: url("../../resource/images/svg/OBNK/icon_BC_28.svg"); }
.bank-info.lotte::before { background-image: url("../../resource/images/svg/OBNK/Icon_lotte_28.svg"); }
.bank-info .name { font-size: 16px; color: var(--color-45); font-weight: 500; }

/*  PAYM 다크모드 팝업 기본 레이아웃 ========================================================================== */
.type-pay-dark .popup-layer, .type-pay-dark .popup-header { background-color: #17171F !important; color: #fff; }
.type-pay-dark .se-btn.close-white { background-image: url("../images/svg/PAYM/ico_headerX_PAYM.svg"); }
.pay-top-area { text-align: center; /* margin-top: 20px; */ }
.timer-label { color: var(--color-d); font-size: 16px; font-weight: 400; margin-bottom: 6px; }
.timer-num { font-size: 36px; font-weight: 600; }

/*  PAYM 알약형 탭 ========================================================================== */
.type-pay-dark .tab-wrap { background: none !important; border: none !important; position: relative; top: 0; margin-top: 26px; display: flex; justify-content: center; z-index: 10; }
.type-pay-dark .tab-list { display: inline-flex; background-color: transparent; border-radius: 100px; min-width: 222px; height: auto; gap: 0; border: 1px solid var(--color-45); padding: 0; }
.type-pay-dark .tab-list li { flex: none; width: auto; height: auto; padding: 0;}
.type-pay-dark .tab-list li a { display: flex; align-items: center; justify-content: center; min-width: 105px; padding: 10px 16px; border-radius: 1000px; color: #f5f5f5 !important; font-size: 14px; transition: all 0.3s; text-decoration: none; gap: 4px; }
.type-pay-dark .tab-list li a::before { content: ''; display: block; width: 20px; height: 20px; background-repeat: no-repeat; background-position: center; background-size: contain; flex-shrink: 0; }
.type-pay-dark .tab-list li a.ico-touch::before { background-image: url("../../resource/images/svg/PAYM/ico_touch_white.svg"); }
.type-pay-dark .tab-list li a.ico-barcode::before { background-image: url("../../resource/images/svg/PAYM/ico_barcode_white.svg"); }
.type-pay-dark .tab-list li.on a { background-color: #FF5460; color: #fff !important; font-weight: 600; }
.type-pay-dark .tab-list li.on::after { display: none !important; }

/*  PAYM 중앙 비주얼 및 가이드 ========================================================================== */
.pay-visual-area { position: relative; height: 284px; display: flex; align-items: center; justify-content: center; background-image: url("../../resource/images/PAYM/PAYM_bg.png"); background-repeat: no-repeat; background-position: center; background-size: contain; }
.main-card-img { position: absolute; top: 70px; width: 128px; z-index: 5; }
.main-card-img img { width: 100%; border-radius: 10px; }
.pay-guide-txt { text-align: center; color: #ebebeb; font-size: 16px; font-weight: 400; margin-top: 40px; }
.type-pay-dark .popup-container { padding-bottom: 160px !important; }

/*  PAYM 하단 드로워 ========================================================================== */
.type-pay-dark .popup-layer { position: relative; overflow: hidden; }
.layout-slide.type-drawer { position: absolute; bottom: 0; left: 0; width: 100%; height: 100%; z-index: 100; visibility: visible; opacity: 1; background: none !important; pointer-events: none; }
.layout-slide.type-drawer .popup-layer { position: absolute; bottom: 0; left: 0; width: 100%; height: 400px; background: #fff; border-radius: 14px 14px 0 0; transition: transform 0.4s cubic-bezier(0.22, 1, 0.36, 1); transform: translateY(270px); z-index: 100; color: #222; /* box-shadow: 0 -5px 20px rgba(0,0,0,0.2); */ pointer-events: auto; }
.layout-slide.type-drawer.expanded .popup-layer { transform: translateY(0); }

.layout-slide.type-drawer .popup-container {margin-top: -1px; padding: 12px 20px 0px 20px !important; height: calc(100% - 32px); overflow-y: auto; scrollbar-width: none; -ms-overflow-style: none; -webkit-overflow-scrolling: touch; background: #fff; /* flex: 1;  */}
/* 드로워 딤드 */
.drawer-dim { position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.4); z-index: 90; visibility: hidden; opacity: 0; transition: all 0.3s; border-radius: 20px 20px 0 0; pointer-events: auto; }
.drawer-dim.on { visibility: visible !important; opacity: 1 !important; }

/* 핸들 및 리스트 */
.layout-slide.type-drawer .popup-header { height: 32px; background: #fff !important; padding: 0; border: 0; flex: none; }
.drawer-handle { width: 100%; height: 100%; position: relative; cursor: pointer; }
.drawer-handle::before { content:''; position:absolute; top:10px; left:50%; transform:translateX(-50%); width:60px; height:5px; background:var(--color-d) !important; border-radius:100px; display: block; }

/* 리스트 정렬 및 순서 제어 (Flexbox) */
.drawer-card-list {display: flex; flex-direction: column; width: 100%;}
.drawer-card-list li {order: 1; width: 100%;}
.drawer-card-list li:has(input[type="radio"]:checked) {order: -1; }

/* 라디오 버튼 기능형 디자인 */
.card-radio-item {display: block; width: 100%; cursor: pointer; -webkit-tap-highlight-color: rgba(0,0,0,0.05);}
.card-radio-item input[type="radio"] {position: absolute;width: 1px; height: 1px;padding: 0; margin: -1px;overflow: hidden;clip: rect(0,0,0,0);border: 0;}

/**/
.card-radio-item .inner-box {display: flex; align-items: center; justify-content: space-between; padding-bottom: 30px; min-height: 60px;}
.card-info { display: flex; align-items: center; gap: 14px;}

/* span 태그들 강제 블록화 */
.card-info .thumb { display: block; width: 40px; height: 60px; flex-shrink: 0; }
.card-info .thumb img { width: 100%; height: 100%; border-radius: 4px; display: block; object-fit: cover; }

.card-info .txt { display: block; text-align: left; }
.card-info .name { display: block; color: var(--color-2, #222); font-weight: 600; font-size: 16px; margin-bottom: 4px; }
.card-info .amount { display: block; color: var(--color-75, #757575); font-size: 16px; }

/* 체크 아이콘 */
.check-ico { display: none; width: 28px; height: 28px; background-color: #f2f2f2; border-radius: 50%; background-image: url("../images/svg/PAYM/PAYM_check.svg"); background-repeat: no-repeat; background-position: center; background-size: 12px auto; flex-shrink: 0;}

/* 체크되었을 때만 아이콘 보이기 */
.card-radio-item input[type="radio"]:checked ~ .inner-box .check-ico {display: inline-block;}

/* 바코드 카드 박스 */
.code-card-wrap {margin: 25px 0 0 0; }
.code-card { background: #fff; border-radius: 10px; padding: 20px 10px;}
.sub-tab-content { display: none; }
.sub-tab-content.on { display: block; }

/*  PAYM 서브 탭 ========================================================================== */
.type-segment.tab-wrap { background: #E4E4E4 !important; border-radius: 8px; padding: 4px; margin-top: 0; margin-bottom: 24px; position: static; }
.type-segment .tab-list { display: flex; width: 100%; height: 36px; gap: 0; background: none; border: 0; padding: 0; }
.type-segment .tab-list li { flex: 1; }
.type-segment .tab-list li a { width: 100%; height: 100%; border-radius: 6px; padding: 8px; font-size: 14px; color: var(--color-75) !important; font-weight: 500; background: none;}
.type-segment .tab-list li.on a { background: #fff; color: var(--color-2) !important; font-size: 14px !important; font-weight: 700 !important; padding: 8px; border-radius: 6px !important;}
.type-segment .tab-list li.on::after { display: none !important; } /* 빨간 선 제거 */
.type-segment .tab-list li a::before {display: none !important;}

/* 코드 이미지 및 텍스트 정렬 */
.code-visual-wrap { display: flex; flex-direction: column; align-items: center; justify-content: center; }
.barcode-img img { width: 100%; max-width: 304px; height: auto; }

.qr-img img { width: 120px; height: 120px; }


/* PAYM-00103 */

/* 스캔 가이드 */
.type-pay-scan .scan-mode { display: flex; align-items: flex-start; justify-content: center;}
.scan-guide { position: relative; width: 280px; height:280px; margin: 0 auto 120px; }
.scan-guide span { position: absolute; width: 40px; height: 40px; border: 4px solid #fff;}
.scan-guide span:nth-child(1) { top:70px; left:0; border-right:0; border-bottom:0;}
.scan-guide span:nth-child(2) { top:70px; right:0; border-left:0; border-bottom:0;}
.scan-guide span:nth-child(3) { bottom:-70px; left:0; border-right:0; border-top:0;}
.scan-guide span:nth-child(4) { bottom:-70px; right:0; border-left:0; border-top:0;}
.scan-txt { color: #ebebeb; font-size: 16px; text-align: center; font-weight: 400; }

/* 이 팝업에서만 레이어 높이 올라가도록 세팅*/
.type-pay-scan .type-drawer .popup-layer { height: 540px !important; transform: translateY(330px); }
/* 키패드 상단 텍스트 정렬 */
.keypad-auth-top { text-align: center; margin-bottom: 50px;}
.keypad-auth-top .txt { font-size: 16px; color: #222; margin-bottom: 20px; font-weight: 500; }
.layout-slide.type-drawer .popup-layer .secure-keypad {padding: 0;}